workflow-api/src/main/resources/schemas/workflow/workflow.wadl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../../stylesheets/wadldoc/wadl2html.xsl"?>
<application
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns:view="urn:ru:ilb:workflow:view"
    xmlns:core="urn:ru:ilb:workflow:core"
    xmlns:wf="urn:ru:ilb:workflow:workflow"
    xmlns:global="urn:ru:ilb:global"
    xmlns="http://wadl.dev.java.net/2009/02">

    <doc title="workflow api">
        <html:p>workflow api</html:p>
    </doc>
    <grammars>
        <include href="global.xsd" />
        <include href="view.xsd" />
        <include href="workflow.xsd" />
    </grammars>
    <resource_type id="processDefinitionResource">
        <doc title="processDefinition resource"></doc>
        <method name="GET" id="getProcessDefinition">
            <doc>get processDefinition instance</doc>
            <request></request>
            <response>
                <representation mediaType="application/xml" element="view:processDefinition">
                    <doc>processDefinition data</doc>
                </representation>
                <representation mediaType="application/json">
                    <doc>processDefinition data</doc>
                </representation>
            </response>
        </method>
        <resource path="activityDefinitions">
            <resource path="{activityDefinitionId}" id="activityDefinitionResource" type="#activityDefinitionResource">
                <param name="activityDefinitionId" style="template" type="xsd:string">
                    <doc>activity definition</doc>
                </param>
            </resource>
        </resource>
    </resource_type>

    <resource_type id="activityDefinitionResource">
        <doc title="activityDefinition resource"></doc>
        <method name="GET" id="getActivityDefinition">
            <doc>get processDefinition instance</doc>
            <request></request>
            <response>
                <representation mediaType="application/xml" element="view:activityDefinition">
                    <doc>activityDefinition data</doc>
                </representation>
                <representation mediaType="application/json">
                    <doc>activityDefinition data</doc>
                </representation>
            </response>
        </method>
        <resource path="start">
            <doc>starts activity manually  (beyond the process definition)</doc>
            <method name="POST" id="start">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated activity context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated activity context</doc>
                    </representation>
                </request>
                <response status="204"></response>
            </method>
        </resource>

    </resource_type>

    <resource_type id="processStepsResource">
        <doc>Шаги процесса</doc>
        <method name="GET" id="getProcessSteps">
            <response status="200">
                <representation mediaType="application/xml" element="view:processSteps"/>
                <representation mediaType="application/json"/>
            </response>
        </method>
    </resource_type>

    <resource_type id="jsonSchemaResource">
        <doc>Схема данных процесса</doc>
        <method name="GET" id="getJsonSchema">
            <response status="200">
                <representation mediaType="application/schema+json"/>
            </response>
        </method>
    </resource_type>
    <resource_type id="activityFormResource">
        <doc>Форма данных процесса</doc>
        <method name="GET" id="getActivityForm">
            <response status="200">
                <representation mediaType="application/json">
                </representation>
            </response>
        </method>
    </resource_type>
    <resource_type id="processContextResource">
        <doc>Форма данных процесса</doc>
        <method name="GET" id="getProcessContext">
            <response status="200">
                <representation mediaType="application/json"/>
            </response>
        </method>
    </resource_type>

    <resource_type id="createProcessInstanceCtx">
        <param name="x-remote-user" style="header" type="xsd:string">
            <doc>remote authenticated user</doc>
        </param>
        <method name="GET" id="createProcessInstanceCtx">
            <doc>create process instance with context</doc>
            <request>
                <param name="packageId" style="query" type="xsd:string">
                    <doc>packageId</doc>
                </param>
                <param name="versionId" style="query" type="xsd:string">
                    <doc>versionId</doc>
                </param>
                <param name="processDefinitionId" style="query" type="xsd:string">
                    <doc>processDefinitionId</doc>
                </param>
                <param name="callId" style="query" type="xsd:string">
                    <doc>Call identificator</doc>
                </param>
                <param name="callbackUrl" style="query" type="xsd:string">
                    <doc>URL to return service results</doc>
                </param>
                <param name="contextUrl" style="query" type="xsd:string">
                    <doc>URL to get request parameters</doc>
                </param>
                <param name="callerId" style="query" type="xsd:string">
                    <doc>Caller identificator</doc>
                </param>
            </request>
            <response status="200">
                <representation>
                    <!--                    <param name="Location" style="header" type="xsd:string">
                        <doc>Redirect location to activity form service</doc>
                    </param>-->
                </representation>
            </response>
        </method>

    </resource_type>

    <resource_type id="processInstanceResource">
        <doc title="processInstance resource"></doc>
        <method name="GET" id="getProcessInstance">
            <doc>get process instance</doc>
            <request></request>
            <response>
                <representation mediaType="application/xml" element="view:processInstance">
                    <doc>processInstance data</doc>
                </representation>
                <representation mediaType="application/json">
                    <doc>processInstance data</doc>
                </representation>
            </response>
        </method>
        <resource path="activityInstances">
            <resource path="{activityInstanceId}" id="activityInstanceResource" type="#activityInstanceResource">
                <param name="activityInstanceId" style="template" type="xsd:string">
                    <doc>activity definition</doc>
                </param>
            </resource>
        </resource>
        <resource path="activityDefinitions">
            <resource path="{activityDefinitionId}" id="activityDefinitionResource" type="#activityDefinitionResource">
                <param name="activityDefinitionId" style="template" type="xsd:string">
                    <doc>activity definition</doc>
                </param>
            </resource>
        </resource>
        <resource path="processDefinition" id="processDefinitionResource" type="#processDefinitionResource"/>
        <resource path="processSteps" id="processStepsResource" type="#processStepsResource"/>
        <resource path="jsonSchema" id="jsonSchemaResource" type="#jsonSchemaResource"/>
        <resource path="activityForm" id="activityFormResource" type="#activityFormResource">
            <doc>current activity form</doc>
        </resource>
        <resource path="processContext" id="processContextResource" type="#processContextResource"/>
        <resource path="start">
            <doc>starts process ( can be used in the case the process is in open.not_running.not_started state)</doc>
            <method name="POST" id="start">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated process context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated process context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain">
                        <param name="stateChanged" style="plain" type="xsd:boolean">
                            <doc>indicator process state changed</doc>
                        </param>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="suspend">
            <doc>suspends the process, which means all of its active activities and synchronous sub-processes instantiated by some active subflow activities will be suspended</doc>
            <method name="POST" id="suspend">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated process context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated process context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain">
                        <param name="stateChanged" style="plain" type="xsd:boolean">
                            <doc>indicator process state changed</doc>
                        </param>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="resume">
            <doc>resumes the process, which means all of its activities and synchronous sub-processes instantiated by an active subflow activities will be resumed
                NOTE: Synchronous process started by some subflow activity of the suspended process can't be resumed - it will be
                automatically resumed when the 'parent' process/activity is resumed</doc>
            <method name="POST" id="resume">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated process context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated process context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain">
                        <param name="stateChanged" style="plain" type="xsd:boolean">
                            <doc>indicator process state changed</doc>
                        </param>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="terminate">
            <doc>terminates the process, which means that all of its activities and synchronous sub-processes instantiated by an
                active subflow activities will be terminated
            </doc>
            <method name="POST" id="terminate">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated process context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated process context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain">
                        <param name="stateChanged" style="plain" type="xsd:boolean">
                            <doc>indicator process state changed</doc>
                        </param>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="abort">
            <doc>aborts the process, which means that all of its activities and synchronous sub-processes instantiated by an active subflow
                activities will be aborted</doc>
            <method name="POST" id="abort">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated process context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated process context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain">
                        <param name="stateChanged" style="plain" type="xsd:boolean">
                            <doc>indicator process state changed</doc>
                        </param>
                    </representation>
                </response>
            </method>
        </resource>

        <resource path="goBack">
            <doc>    Back navigation through the running process instance. It is assumed that process is
                running, that there is only one activity running, and that there is only one
                activity in XPDL definition prior to the currently running activity. Implementation
                of this API method must:
                <html:ul>
                    <html:li>find the only one running activity of the given process,</html:li>
                    <html:li>find activity definition prior to the running activity (it could be specified to
                        search only manual activities)</html:li>
                    <html:li>abort the running activity</html:li>
                    <html:li>update process context with the context provided</html:li>
                    <html:li>start previous activity from the definition</html:li>
                </html:ul>
                NOTE: if block activities are used, be sure that you do not nest them - it won't
                work properly in that case. Also, be sure that ActivitySet is referenced from only
                one block activity.</doc>
            <method name="POST" id="goBack">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated activity context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated activity context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="view:activityInstance">
                        <doc>next activity instance data</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>next activity instance data</doc>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="goForth">
            <doc> Forward navigation through the running process instance. It is assumed that process
                is running, that there is only one activity running, and that there is only one
                activity in XPDL definition following the currently running activity. Implementation
                of this API method must:
                <html:ul>
                    <html:li>find the only one running activity of the given process,</html:li>
                    <html:li>find activity definition following the running activity</html:li>
                    <html:li>abort the running activity</html:li>
                    <html:li>update process context with the context provided</html:li>
                    <html:li>start next activity from the definition</html:li>
                </html:ul>
                NOTE: if block activities are used, be sure that you do not nest them - it won't
                work properly in that case.</doc>
            <method name="POST" id="goForth">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated process context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated process context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="view:activityInstance">
                        <doc>next activity instance data</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>next activity instance data</doc>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="goAnywhere">
            <doc>Navigation through the running process instance. It is assumed that process is
                running, in the case you don't provide 'actId' parameter (it is null) that there is
                only one activity running, and that there is activity in XPDL definition with a
                given definition Id. Implementation of this API method must:
                <html:ul>
                    <html:li>if 'actId' parameter is 'null' find the only one running activity of the given
                        process, or find the running activity based on not-null 'actId' parameter</html:li>
                    <html:li>find activity definition specified by the 'nextActDefId' parameter</html:li>
                    <html:li>abort the running activity</html:li>
                    <html:li>update process context with the context provided</html:li>
                    <html:li>start specified activity</html:li>
                </html:ul>
                NOTE: if block activities are used, be sure that you do not nest them - it won't
                work properly in that case. Also, be sure that ActivitySet is referenced from only
                one block activity.</doc>
            <method name="POST" id="goAnywhere">
                <request>
                    <param name="activityInstanceId" style="query" type="xsd:string">
                        <doc>activityDefinitionId to move from (not required)</doc>
                    </param>
                    <param name="activityDefinitionId" style="query" type="xsd:string">
                        <doc>activityDefinitionId to move to</doc>
                    </param>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated process context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated process context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="view:activityInstance">
                        <doc>next activity instance data</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>next activity instance data</doc>
                    </representation>
                </response>
            </method>
        </resource>

    </resource_type>

    <resource_type id="activityInstanceResource">
        <doc title="activityInstance resource"></doc>
        <method name="GET" id="getActivityInstance">
            <doc>get activity instance</doc>
            <request></request>
            <response>
                <representation mediaType="application/xml" element="view:activityInstance">
                    <doc>activity instance data</doc>
                </representation>
                <representation mediaType="application/json">
                    <doc>activity instance data</doc>
                </representation>
            </response>
        </method>
        <resource path="complete">
            <doc>completes activity</doc>
            <method name="POST" id="complete">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated activity context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated activity context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain">
                        <param name="stateChanged" style="plain" type="xsd:boolean">
                            <doc>indicator activity state changed</doc>
                        </param>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="completeAndNext">
            <doc>complete and get next activity data</doc>
            <method name="POST" id="completeAndNext">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated activity context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated activity context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="view:activityInstance">
                        <doc>next activity instance data</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>next activity instance data</doc>
                    </representation>
                </response>

            </method>
        </resource>
        <resource path="start">
            <doc>starts activity (accepts it)</doc>
            <method name="POST" id="start">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated activity context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated activity context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain">
                        <param name="stateChanged" style="plain" type="xsd:boolean">
                            <doc>indicator activity state changed</doc>
                        </param>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="stop">
            <doc> stops activity (rejects it when accepted)</doc>
            <method name="POST" id="stop">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated activity context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated activity context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain">
                        <param name="stateChanged" style="plain" type="xsd:boolean">
                            <doc>indicator activity state changed</doc>
                        </param>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="suspend">
            <doc>suspends activity</doc>
            <method name="POST" id="suspend">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated activity context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated activity context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain">
                        <param name="stateChanged" style="plain" type="xsd:boolean">
                            <doc>indicator activity state changed</doc>
                        </param>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="resume">
            <doc>resumes activity</doc>
            <method name="POST" id="resume">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated activity context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated activity context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain">
                        <param name="stateChanged" style="plain" type="xsd:boolean">
                            <doc>indicator activity state changed</doc>
                        </param>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="terminate">
            <doc>terminates activity (when activity is terminated, process proceeds to the next activities if transition conditions are satisfied)</doc>
            <method name="POST" id="terminate">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated activity context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated activity context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain">
                        <param name="stateChanged" style="plain" type="xsd:boolean">
                            <doc>indicator activity state changed</doc>
                        </param>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="abort">
            <doc> aborts activity (process becomes 'stucked')</doc>
            <method name="POST" id="abort">
                <request>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>updated activity context</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>updated activity context</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain">
                        <param name="stateChanged" style="plain" type="xsd:boolean">
                            <doc>indicator activity state changed</doc>
                        </param>
                    </representation>
                </response>
            </method>
        </resource>

        <resource path="jsonSchema" id="jsonSchemaResource" type="#jsonSchemaResource"/>
        <resource path="activityForm" id="activityFormResource" type="#activityFormResource"/>
        <resource path="processContext" id="processContextResource" type="#processContextResource"/>
    </resource_type>

    <resources base="web">
        <resource path="processDefinitions">
            <param name="x-remote-user" style="header" type="xsd:string">
                <doc>remote authenticated user</doc>
            </param>
            <method name="GET" id="getProcessDefinitions">
                <doc>get processDefinitions instance</doc>
                <request>
                    <param name="enabled" style="query" type="xsd:boolean">
                        <doc>show enabled definitions</doc>
                    </param>

                    <param name="packageId" style="query" type="xsd:string">
                        <doc>packageId</doc>
                    </param>
                    <param name="versionId" style="query" type="xsd:string">
                        <doc>versionId</doc>
                    </param>
                    <param name="processDefinitionId" style="query" type="xsd:string">
                        <doc>processDefinitionId</doc>
                    </param>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="view:processDefinitions">
                        <doc>processDefinitions data</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>processDefinitions data</doc>
                    </representation>
                </response>
            </method>

            <resource path="{processDefinitionId}" id="processDefinitionResource" type="#processDefinitionResource">
                <param name="x-remote-user" style="header" type="xsd:string">
                    <doc>remote authenticated user</doc>
                </param>
                <param name="processDefinitionId" style="template" type="xsd:string">
                    <doc>processDefinitionId</doc>
                </param>
            </resource>

        </resource>
        <resource path="processInstances">
            <param name="x-remote-user" style="header" type="xsd:string">
                <doc>remote authenticated user</doc>
            </param>
            <method name="GET" id="getProcessInstances">
                <doc>get processInstances instance</doc>
                <request>
                    <param name="open" style="query" type="xsd:boolean">
                        <doc>show open (working) process</doc>
                    </param>
                    <param name="packageId" style="query" type="xsd:string">
                        <doc>packageId</doc>
                    </param>
                    <param name="versionId" style="query" type="xsd:string">
                        <doc>versionId</doc>
                    </param>
                    <param name="processDefinitionId" style="query" type="xsd:string">
                        <doc>processDefinitionId</doc>
                    </param>
                </request>
                <response>
                    <representation mediaType="application/xml" element="view:processInstances">
                        <doc>processInstances data</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>processInstances data</doc>
                    </representation>
                </response>
            </method>
            <resource path="createProcessInstanceCtx" id="createProcessInstanceCtx" type="#createProcessInstanceCtx"/>
            <method name="POST" id="createProcessInstance">
                <doc>create process instance</doc>
                <request>
                    <param name="packageId" style="query" type="xsd:string">
                        <doc>packageId</doc>
                    </param>
                    <param name="versionId" style="query" type="xsd:string">
                        <doc>versionId</doc>
                    </param>
                    <param name="processDefinitionId" style="query" type="xsd:string">
                        <doc>processDefinitionId</doc>
                    </param>
                    <representation mediaType="application/xml" element="global:map">
                        <doc>processInstances data</doc>
                    </representation>
                    <representation mediaType="application/json">
                        <doc>processInstances data</doc>
                    </representation>
                </request>
                <response status="200">
                    <representation mediaType="text/plain">
                        <param name="processId" style="plain" type="xsd:string">
                            <doc>processId</doc>
                        </param>
                    </representation>
                </response>
            </method>
            <resource path="createProcessInstanceAndNext">
                <param name="x-remote-user" style="header" type="xsd:string">
                    <doc>remote authenticated user</doc>
                </param>
                <method name="POST" id="createProcessInstanceAndNext">
                    <doc>create process instance and get next activity</doc>
                    <request>
                        <param name="packageId" style="query" type="xsd:string">
                            <doc>packageId</doc>
                        </param>
                        <param name="versionId" style="query" type="xsd:string">
                            <doc>versionId</doc>
                        </param>
                        <param name="processDefinitionId" style="query" type="xsd:string">
                            <doc>processDefinitionId</doc>
                        </param>
                        <representation mediaType="application/xml" element="global:map">
                            <doc>processInstances data</doc>
                        </representation>
                        <representation mediaType="application/json">
                            <doc>processInstances data</doc>
                        </representation>
                    </request>
                    <response status="200">
                        <representation mediaType="application/xml" element="view:activityInstance">
                            <doc>next activity instance data</doc>
                        </representation>
                        <representation mediaType="application/json">
                            <doc>next activity instance data</doc>
                        </representation>
                    </response>
                </method>
            </resource>
            <resource path="workList">
                <doc>
                    Work list of user (activities)
                </doc>
                <param name="x-remote-user" style="header" type="xsd:string">
                    <doc>remote authenticated user</doc>
                </param>
                <method name="GET" id="getWorkList">
                    <request>
                        <param name="filter" type="xsd:string" style="query" />
                        <param name="assignment" type="core:acceptedStatus" style="query" default="ACCEPTED_AND_NON_ACCEPTED"/>
                        <param name="limit" type="xsd:int" style="query" default="100"/>
                    </request>
                    <response status="200">
                        <representation mediaType="application/xml" element="view:activityInstances">
                            <doc>next activity instance data</doc>
                        </representation>
                        <representation mediaType="application/json">
                            <doc>next activity instance data</doc>
                        </representation>
                    </response>
                </method>
            </resource>
            <resource path="{processInstanceId}" id="processInstanceResource" type="#processInstanceResource">
                <param name="x-remote-user" style="header" type="xsd:string">
                    <doc>remote authenticated user</doc>
                </param>
                <param name="processInstanceId" style="template" type="xsd:string">
                    <doc>processInstanceId</doc>
                </param>
            </resource>
        </resource>
        <resource path="processhistories"  id="ru.ilb.workflow.api.ProcessHistoriesResource">
            <resource path="changedprocesses">
                <doc>
                    Измененные процессы
                </doc>
                <method name="POST" id="getChangedProcesses">
                    <request>
                        <representation mediaType="application/xml" element="wf:changedProcessesRequest"/>
                        <representation mediaType="*/*" />
                    </request>
                    <response status="200">
                        <representation mediaType="application/xml" element="wf:changedProcessesResponse"/>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>

</application>
