workflow-context-api/src/main/resources/schemas/workflow/context.wadl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../../stylesheets/wadldoc/wadl2html.xsl"?>
<application
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns:view="urn:ru:ilb:workflow:view"
    xmlns:core="urn:ru:ilb:workflow:core"
    xmlns:global="urn:ru:ilb:global"
    xmlns="http://wadl.dev.java.net/2009/02">

    <doc title="Workflow context API">
        Workflow context API
    </doc>
    <grammars>
    </grammars>
    <resource_type id="startProcess">
        <param name="x-remote-user" style="header" type="xsd:string">
            <doc>remote authenticated user</doc>
        </param>
        <method name="GET" id="startProcess">
            <doc>create process instance with context</doc>
            <request>
                <param name="packageId" style="query" type="xsd:string">
                    <doc>process definition packageId</doc>
                </param>
                <param name="versionId" style="query" type="xsd:string">
                    <doc>process definition versionId</doc>
                </param>
                <param name="processDefinitionId" style="query" type="xsd:string" required="true">
                    <doc>process definition id</doc>
                </param>
                <param name="contextUrl" style="query" type="xsd:anyURI">
                    <doc>URL to get context</doc>
                </param>
            </request>
            <response status="200">
                <representation>
                </representation>
            </response>
            <response status="303">
                <param name="Location" style="header" type="xsd:string">
                    <doc>Redirect location to next service</doc>
                </param>
            </response>
        </method>

    </resource_type>

    <resource_type id="activityContext">
        <doc>Данные процесса</doc>
        <param name="x-remote-user" style="header" type="xsd:string">
            <doc>remote authenticated user</doc>
        </param>
        <method name="GET" id="activityContext">
            <request>
                <param name="callId" style="query" type="xsd:string">
                    <doc>call identificator (equals to activity id)</doc>
                </param>
                <param name="callerId" style="query" type="xsd:string">
                    <doc>caller identificator (equals to process id)</doc>
                </param>
            </request>
            <response status="200">
                <representation mediaType="application/json"/>
            </response>
        </method>
    </resource_type>

    <resource_type id="activityForm">
        <doc>Форма процесса</doc>
        <param name="x-remote-user" style="header" type="xsd:string">
            <doc>remote authenticated user</doc>
        </param>
        <method name="GET" id="activityForm">
            <request>
                <param name="callId" style="query" type="xsd:string">
                    <doc>call identificator (equals to activity id)</doc>
                </param>
                <param name="callerId" style="query" type="xsd:string">
                    <doc>caller identificator (equals to process id)</doc>
                </param>
            </request>
            <response status="303">
                <param name="Location" style="header" type="xsd:string">
                    <doc>Redirect location activity form location</doc>
                </param>
            </response>
        </method>
    </resource_type>

    <resource_type id="activityCallback">
        <doc>Данные процесса</doc>
        <param name="x-remote-user" style="header" type="xsd:string">
            <doc>remote authenticated user</doc>
        </param>
        <method name="GET" id="activityCallback">
            <request>
                <param name="callId" style="query" type="xsd:string">
                    <doc>call identificator (equals to activity id)</doc>
                </param>
                <param name="callerId" style="query" type="xsd:string">
                    <doc>caller identificator (equals to process id)</doc>
                </param>
                <param name="responseUrl" style="query" type="xsd:anyURI">
                    <doc>URL to get response context</doc>
                </param>
            </request>
            <response status="200">
                <representation></representation>
            </response>
            <response status="303">
                <param name="Location" style="header" type="xsd:string">
                    <doc>Redirect location to next service</doc>
                </param>
            </response>
        </method>
    </resource_type>

    <resources base="web">
        <resource path="callcontext">
            <resource path="startProcess" id="startProcess" type="#startProcess"/>
            <resource path="activityContext" id="activityContext" type="#activityContext"/>
            <resource path="activityForm" id="activityForm" type="#activityForm"/>
            <resource path="activityCallback" id="activityCallback" type="#activityCallback"/>
        </resource>
    </resources>

</application>
